header{
    background-color:gold;
    color: white;
    height: 50px;
    h2{
       position: relative;
       top: 10px;
    }
}
body{
   .title{
    justify-content: center;
    display: flex;
    input{
       
        width: 400px;
        
        padding-bottom:160px ;
        padding-top: 30px;
    }
    button{
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background-color: gold;
        position: relative;
        top: 190px;
        right: 50px;
        cursor: pointer;
        
    }
    button:hover{
        background-color: rgba(255, 204, 0, 0.74);
    }
   }
    
}